<div class="container text-center">
  <h1><%= @cocktail.name %></h1>
  <div class="row">
    <div class="col-xs-12 col-md-12 show-img">
      <%= cl_image_tag @cocktail.photo %>
    </div>
    <div class="col-xs-12 col-md-4 show">
      <h4 class="btn-show">INGREDIENTS</h4>
      <ul>
        <%= raw @cocktail.ingredient_list %>
      </ul>
    </div>
    <div class="col-xs-12 col-md-8 show">
      <h4 class="btn-show">INSTRUCTIONS</h4>
      <p><%= raw @cocktail.instruction %></p>
    </div>
  </div>
</div>


