<div class="banner">
  <div class="banner-content">
    <h1>White Christmas <i class="fas fa-gift"></i></h1>
    <h4>Find your Holliday Mocktail </h4>
    <%= link_to "SHAKE IT", cocktail_path(@random_cocktail), class: "btn" %>
  </div>
</div>
