<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= photo %>);">
  <div class="card-description">
    <h4 class="btn"><%= name.upcase %></h4>
  </div>
  <%= link_to '', link, class: "card-link" %>
</div>
