<div class="footer">
  <div class="footer-links">
    <a href="http://instagram.com/vitjul"><i class="fab fa-instagram"></i></a>
    <a href="http://facebook.com/vitjul"><i class="fab fa-facebook"></i></a>
    <a href="http://twitter.com/vitjul"><i class="fab fa-twitter"></i></a>
  </div>
  <p>
    <span id="banner-typed-text"></span>
  </p>
  <div class="copy">
    <p> © Copyright 2018 | Created by Karin Lilliehöök <a href="https://github.com/karinlilliehook"><i class="fab fa-github"></i></a></p>
  </div>
</div>
